Algorithm/Datasets/
Algorithm/logs/
Algorithm/models/
System/dlibmodel/
System/OpencvFaceDetector/
System/models/model_weights/
System/detected_records/
System/test_imgs/
System/crop_imgs*/
System/test_src/
.vscode/
*.pyc
*.json