Algorithm/Datasets/
Algorithm/logs/
Algorithm/models/
System/dlibmodel/
System/OpencvFaceDetector/
System/models/model_weights/
System/detected_records/
System/test_imgs/
System/crop_imgs*/
System/test_src/
System/Euler/
System/DataCollection/images/
System/FaceRecognition/known/
System/FaceRecognition/dlib_models/
.vscode/
*.pyc
*.json
System/DataCollection/002.jpg
System/DataCollection/001.jpg
